<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../partials/styles') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <main>
        <%- include('../partials/sidenav') %>

        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="center">
                    <h4>ADD VOCATION</h4>
                    <div class="divider"></div>
                </div>
                <div class="container">
                    <br><br><br><br>
                    <div class="row">
                        <div class="input-field col s12 mt-5">
                            <input type="text" name="" id="">
                            <label for="">VOCATION</label>
                        </div>
                    </div>
                </div>
            </div>
            <br> <br> <br>
            <div class="divider">

            </div>
            <div class="modal-footer">
                <div class="container">
                    <a href="#!" class="modal-action blue  right waves-effect waves-light btn">Agree</a>
                    <a href="#!" class="modal-action blue modal-close left waves-effect waves-light btn">close</a>
                </div>
            </div>
        </div>



        <div class="small-padding">
            <table class="bordered centered highlight responsive-table">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Full Name</th>
                        <th>Matric Number</th>
                        <th>Department</th>
                        <th>Vocation</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Alvin the chipmunk</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Mechanic</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Alan baker</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Music</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Jonathan smith</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Fishing</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Jonathan smith</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Fishing</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Jonathan smith</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Fishing</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Alvin the chipmunk</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Mechanic</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Alan baker</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Music</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Jonathan smith</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Fishing</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Jonathan smith</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Fishing</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Jonathan smith</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Fishing</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Alvin the chipmunk</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Mechanic</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Alan baker</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Music</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Jonathan smith</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Fishing</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Jonathan smith</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Fishing</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Jonathan smith</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Fishing</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Alvin the chipmunk</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Mechanic</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Alan baker</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Music</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Jonathan smith</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Fishing</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Jonathan smith</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Fishing</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Jonathan smith</td>
                        <td>15059110</td>
                        <td>Computer Science</td>
                        <td>Fishing</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="divider"></div>
            <%- include('../partials/pagination') %>
    </main>

    <style>
        header,
        main,
        footer {
            padding-left: 300px;
        }

        @media only screen and (max-width: 992px) {

            header,
            main,
            footer {
                padding-left: 0;
            }
        }

        .small-img {
            width: 200px;
        }
        .smaller-img{
            width: 30px;
        }

        nav {
            padding: 0px 20px;
        }

        .small-padding {
            padding: 0px 20px;
        }

        .mt-5 {
            margin-top: 5%;
        }

        .card.my-card {
            height: 200px;
        }

        .card-flex {
            display: flex;
            height: 200px;
        }

        .card-flex-items {
            margin: auto;
        }
    </style>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav({
                draggable: true
            });
            $('.slider').slider();
            $('.modal').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
            });
        });
    </script>
</body>

</html>