<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../partials/styles') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav class="scooter">
                <div class="nav-wrapper">
                    <div class="container">
                        <a href="#!" class="brand-logo">
                            <%= title %>
                        </a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li class="active"><a href="/">HOME</a></li>
                            <li><a href="/admin/dashboard">DASHBOARD</a></li>
                        </ul>
                    </div>
                    <ul class="side-nav" id="mobile-demo">
                            <li class="active"><a href="/">HOME</a></li>
                            <li><a href="/admin/dashboard">DASHBOARD</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main class="container">
        <div class="card">
            <div class="card-content">
                <div class="center">
                    <h4 class="uppecase">admin</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <div class="parallax-container">
                    <div class="parallax"><img src="../../images/duotone(4).png"></div>
                </div>
            </div>
            <div class="col s3">
                <div class="parallax-container">
                    <div class="parallax"><img src="../../images/duotone(5).png"></div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col s6">
                <div class="parallax-container">
                    <div class="parallax"><img src="../../images/duotone(4).png"></div>
                </div>
            </div>
            <div class="col s6">
                <!-- <div class="parallax-container">
                    <div class="parallax"><img src="../../images/duotone(5).png"></div>
                </div> -->
                <div class="card">
                    <div class="card-image">
                        <iframe width="200" height="200" src="https://www.youtube.com/embed/k3_tw44QsZQ" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="card-content">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="center">
                    <h4 class="uppecase">admin</h4>
                </div>
            </div>
        </div>
    </main>


    <style>
        .parallax-container {
            height: 200px;
        }
    </style>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>
</body>

</html>