<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('partials/styles') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<header>
    <div class="navbar-fixed">
        <nav class="blue">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#!" class="brand-logo">
                        <%= title %>
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li class="active"><a href="">HOME</a></li>
                        <li><a class="dropdown-button" href="#!" data-activates="loginDropdown">LOG IN</a></li>
                        <li><a class="dropdown-button" href="#!" data-activates="signupDropdown">SIGN UP</a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
                <ul class="side-nav" id="mobile-demo">
                    <li class="no-padding"><a href="">HOME</a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header">Dropdown</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#!">First</a></li>
                                        <li><a href="#!">Second</a></li>
                                        <li><a href="#!">Third</a></li>
                                        <li><a href="#!">Fourth</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <ul id="loginDropdown" class="dropdown-content">
        <li><a href="#!">STUDENT</a></li>
        <li class="divider"></li>
        <li><a href="#!">ADMIN</a></li>
    </ul>


    <ul id="signupDropdown" class="dropdown-content">
        <li><a href="#!">STUDENT</a></li>
        <li class="divider"></li>
        <li><a href="#!">ADMIN</a></li>
    </ul>
</header>

<body>


    <main>
        <div class="carousel carousel-slider">
                <div class="carousel-fixed-item center">
                    <h1 class="uppercase white-text">lasu ent</h1>
                      </div>
            <a class="carousel-item" href="#one!"><img src="/images/01.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="/images/02.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="/images/03.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="/images/04.jpg"></a>
          </div>


        <section class="container">
            <div class="card">
                <div class="card-content">
                    <div class="center">
                        <h4 class="uppercase">about</h4>
                        <div class="divider"></div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem nemo cum obcaecati neque omnis quibusdam consequatur et animi? Eos odio excepturi reprehenderit saepe unde quo atque earum soluta deleniti? Aut soluta non nam repellendus cupiditate inventore qui enim iusto porro explicabo eligendi, unde, iure quos veritatis fugiat nisi veniam dolore provident adipisci natus odit laudantium. Placeat consectetur minus harum earum dolores architecto, magni debitis rem iure quidem hic, modi dolorum quam repellendus quasi eaque quia dolore ea delectus impedit. At odio itaque eius? Perspiciatis, maxime deserunt magni ipsum delectus fugiat, corporis tempore incidunt expedita animi sapiente doloremque perferendis velit quibusdam illo nihil nostrum asperiores nesciunt repudiandae nobis? Iusto alias fugiat necessitatibus commodi blanditiis exercitationem molestiae in eveniet, veniam ratione cupiditate veritatis temporibus laboriosam dolore dicta reprehenderit consequatur cumque facilis soluta corrupti? Vel minima maxime consequuntur corporis aperiam modi rerum culpa recusandae suscipit voluptatem qui cumque dignissimos sequi asperiores minus, nulla, in iusto reiciendis, laborum magni accusamus quibusdam veniam voluptate a! Laborum, voluptates. Quisquam explicabo ea odio labore officiis accusantium quam itaque amet eos ad dolorum ipsum, quas, magnam inventore iure saepe aspernatur eaque obcaecati deleniti. Iste voluptatibus tempora error cumque voluptatum magni odit veritatis laborum, quidem at qui, voluptates fugit sequi. Perferendis sint praesentium, commodi explicabo possimus veritatis dolore corporis, maxime iusto voluptatum quibusdam aut incidunt doloremque facilis quisquam culpa temporibus ab error consequatur. Delectus adipisci voluptas nisi impedit id ab obcaecati animi enim, porro iusto ipsum minima labore, deserunt perferendis ipsa? Eum eveniet est, nihil inventore recusandae quaerat beatae, dolorum sint iusto optio laborum. Fugit excepturi sapiente quo perspiciatis dignissimos atque facere corrupti, inventore suscipit provident in similique eveniet impedit sequi minus. Fuga reiciendis totam eius similique ratione deserunt earum minus sit doloribus delectus quo aliquid voluptatum quisquam, quas sunt dolorem natus eaque consequuntur in sapiente quae? Reprehenderit, reiciendis?</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="center">
                        <h4 class="uppercase">title</h4>
                        <p class="capitalize">some of the vocations we offer</p>
                        <div class="divider"></div>
                    </div>
                    <div class="row">
                        <div class="col s12 l3 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/pic01.jpg" alt="">
                                    <span class="uppercase card-title">title</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 l3 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/pic01.jpg" alt="">
                                    <span class="uppercase card-title">title</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 l3 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/pic01.jpg" alt="">
                                    <span class="uppercase card-title">title</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 l3 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/pic01.jpg" alt="">
                                    <span class="uppercase card-title">title</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 l3 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/pic01.jpg" alt="">
                                    <span class="uppercase card-title">title</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 l3 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/pic01.jpg" alt="">
                                    <span class="uppercase card-title">title</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 l3 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/pic01.jpg" alt="">
                                    <span class="uppercase card-title">title</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 l3 m6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/pic01.jpg" alt="">
                                    <span class="uppercase card-title">title</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="center">
                        <h4 class="uppercase">meet the ent director</h4>
                        <div class="divider"></div>
                        <img src="/images/bg.jpg" alt="" class="mt-2 z-depth-2 img-200 thumbnail">
                        <br> <br>
                        <div class="divider"></div>
                        <h6 class="capitalize">mr. john doe</h6>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $('.carousel.carousel-slider').carousel({
                indicators:true
            });
            $('.parallax').parallax();
            $(".dropdown-button").dropdown({

            });
        });
    </script>
</body>

</html>